version: '3'

services:
  firefox:
#    build: ./firefox
    image: "firefox-image"
    shm_size: 1g
    container_name: firefox1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/Downloads/:/home/${UID}/Downloads
#      - ${HOME}/docker-image/firefox-package/firefox/profile/:/home/${UID}/profile
      - ${HOME}/profile/:/home/${UID}/profile
      - /run/user/${UID}/pulse/native/:/tmp/pulse/native
      - ${HOME}/.config/pulse/cookie/:/tmp/pulse/cookie
    user: ${UID}
    environment:
      - DISPLAY
      - UID
    cap_drop:
      - ALL
#    read_only: true
#    tmpfs: 
#      - /tmp
#      - /run