[Unit]
Description=clamav Real-Time Scan Daemon
After=clamav-daemon.service

[Service]
ExecStart=/opt/clamav/notify_viruscheck_watchdog.py
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
