[Unit]
Description=clamav Real-Time Scan Daemon
After=clamav-daemon.service

[Service]
#ExecStart=/usr/bin/python3 /opt/clamav/notify_viruscheck_watchdog.py
ExecStart=/opt/clamav/notify_viruscheck_watchdog.py
Restart=always
#Type=simple
Type=notify
#WatchdogSec=1

[Install]
WantedBy=multi-user.target
