[Unit]
Description=Docker Update with Docker
After=docker.service

[Service]
TimeoutSec=15min
ExecStartPre=/usr/local/bin/docker-compose -f /opt/docker-image/docker-package/docker-compose.yml run --rm docker
ExecStart=/bin/bash -c "/usr/bin/apt-get install -y `ls /opt/docker-image/docker-package/docker/package/docker-ce*`"
Type=simple

[Install]
WantedBy=multi-user.target
