[Unit]
Description=Config Folder Real-Time Scan Daemon
#After=netfilter-persistent.service

[Service]
ExecStart=/opt/etc_watchdog/etc_watchdog.py
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
