[Unit]
Description=Process Monitor with psutil

[Service]
ExecStart=/opt/psutil/psutil_processmonitor.py
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
