[Unit]
Description=VSCode Update with Docker
After=docker.service

[Service]
TimeoutSec=15min
ExecStartPre=/usr/local/bin/docker-compose -f /opt/docker-image/vscode-package/docker-compose.yml run --rm vscode
ExecStart=/bin/bash -c "/usr/bin/apt-get install -y `ls /opt/docker-image/vscode-package/vscode/package/code*`"
Type=simple

[Install]
WantedBy=multi-user.target
