version: '3'

services:
  debian-vm:
    image: ianblenke/kvm
    container_name: debian-vm1
    tty: true
    privileged: true
    #mem_limit: 4g
    ports:
      - '5900:5900'
      - '10022:10022'
    volumes:
      - $PWD:/mnt/vm/template
    command: "/run.sh  \
      -name templat-vm -smp 2 -m 2048  \
      -vnc :0  \
      -k ja \
      -cdrom /mnt/vm/template/debian-10.2.0-amd64-DVD-1.iso  \
      -nic user,hostfwd=tcp::10022-:22
      /mnt/vm/template/primary.raw"